/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* My Styles */

body {
  padding: 60px;
  font-family: serif;
  max-width: 900px;
  font-size: 120%;
}
